{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/position.css">
<link rel="stylesheet" href="../static/index.css">
<link rel="stylesheet" href="../static/profiles.css">
<link rel="stylesheet" href="../static/form.css">
<title>VolunteerMe Landing</title>
{% endblock %}

{% block content %}
<body>
    <div class="header">
        <div class="title">
            <a href="{{url_for('index')}}"> 
            <h1>VolunteerMe</h1>
            </a>
        </div>
        <div class="rightside">
            <a href="{{url_for('logout')}}">
            <h1>Logout</h1>
            </a>
        </div>
        <div class="rightside">
            <a href="{{url_for('orgpostings')}}">
            <h1>Postings</h1>
            </a>
        </div>
        <div class="rightside1">
            <a href="{{url_for('profiles')}}">
            <h1>Profile</h1>
            </a>
        </div>
    </div>
    <div class ="form-container">
        <form action="" method="post">
            {{form.hidden_tag()}}

            {{form.pos_name.label(class='label')}} </br>
            {{form.pos_name(class='input')}} </br>

            {{form.pos_summary.label(class='label')}} </br>
            {{form.pos_summary(class='input')}} </br>

            {{form.pos_location.label(class='label')}} </br>
            {{form.pos_location(class='input')}} </br>

            </br>
            {{form.submit(class='submit')}}

        </form>
    </div>    
</body>
{% endblock %}